.quote-container{
    height: auto;
    max-width: 100%;
    margin: 6rem 5rem 0 5rem;
}
.quote{
    padding: 5px 20px 5px;
    background-color: #1F2937;
    height: auto;
    margin: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 80px;
}
.quote h5{
    font-size: 30px;
    vertical-align: baseline;
    padding: 0 20px;
    margin: 20px 15px 18px;
}
.quote p{
    margin-bottom: 30px;
    color: lightgray;
}